@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: #050505;
  color: white;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}